<!DOCTYPE html>
<html lang="en" class="h-100">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%- title %></title>
        <meta name="description" content="XT Summit 2020 POC">
        <meta name="turbolinks-cache-control" content="no-preview">
		<!-- PWA MANIFEST -->
		<meta name="theme-color" content="#e9ecef"/>
		<link rel="manifest" href="/manifest.json">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="msapplication-starturl" content="/">
		<!-- / PWA MANIFEST -->
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="apple-touch-icon" href="/images/icons-192.png">
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/dist/init.css" />
		<script>
			window.scriptsPath = '/dist/';
		</script>
		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
			crossorigin="anonymous"
			defer
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"
			defer
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"
			defer
		></script>
		<script src="/dist/app.js" defer></script>
		<script src="/dist/init.js" defer></script>
	</head>
	<body class="d-flex flex-column h-100">
		<%- pageData %>
	</body>
</html>
