<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= pageTitle %></title>
		<link rel="stylesheet" href="dist/init.css" />
		<script>
			window.scriptsPath = '/dist/';
		</script>
		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
			crossorigin="anonymous"
			defer
		></script>
		<script src="/dist/app.js" defer></script>
		<script src="/dist/init.js" defer></script>
	</head>
	<body>
		<div id="root" class="root"></div>
	</body>
</html>
